<!DOCTYPE html>
<html>
<head>
    <style>
        .texto-centrado {
            text-align: center; 
            font-size: 24px; 
        }
    </style>
    <style>
        .contenedor {
            display: flex;
            justify-content: center; 
            align-items: rigth; 
            height: 20vh; 
        }
    </style>
</head>
<body>
    
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </nav>
    </header>
    <form>
        <br><br><br><br>
        
        <div class="texto-centrado">
        <p style="color: rgb(0, 60, 255);">
        <h1>Conócenos</h1>
        <h3>Mi nombre es Yaretzi Yamileth Sandoval Vázquez, estudio en la Universidad Tecnológica Linares, <br>en la carrera Tecnologias de la Información Área Desarrollo Software TSU. </h3>
        <div class="contenedor">
            <img src="https://utl.edu.mx/images/landing/logoUT22.jpg">
            </div>
    </div>
    </form>
</body>
</html>
