<!DOCTYPE html>
<html>
<head>
    <style>
        .texto-centrado {
            text-align: center; 
            font-size: 24px; 
        }
    </style>
    <style>
        .contenedor {
            display: flex;
            justify-content: center; 
            align-items: center; 
            height: 50vh; 
        }
    </style>
</head>
<body>
    
    <br><br><br>
    <br><br>
    
    <br><br><div class="texto-centrado">
        <p style="color: rgb(0, 60, 255);">
        <h1>Bienvenidos</h1>
        </div>
        <br>
    <div class="contenedor">
        <img src="https://i.pinimg.com/564x/d1/09/aa/d109aa40cef9e93a4b4494c06b0f47c0.jpg">
        </div>
    <header>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </nav>
    </header>
    <form>
        
    </form>
</body>
</html>

